div#topnav {
    width: 50%;
}

img#logo {
    width: 70%;
    display: inline-block;
    /* background-color: blue; */
    position: absolute;
    top: 30px;
    left: 125px;
}

div#content {
    width: 80%;
    height: auto;
    background-color: rgb(138, 43, 226,0.8);
    margin-left: auto;
    margin-top: 65%;
    /* margin-bottom: auto; */
    margin-right: auto;
    border: 10px rgb(58, 15, 97) solid;
    border-radius: 30px;
    padding: 30px
}

img#profile {
    display: block;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: 250px;
    opacity:1;
}

div#contentWrapper {
    width: 80%;
    height: 100%;
    opacity: 1;
    margin-left: auto;
    margin-right:auto;
}
input.input {
    width: 100%;
    height: 50px;
    margin: 5px 0px 15px 0px;
}


button#submit {
    display: block;
}

h2 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin-top: 20px
}

